*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 145, 101, 1);
    padding: 12px 16px;
    border-radius: 4px;
    margin: 36px 120px 36px 0;
}

/* nav-bar style */


.nav-bar{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.nav-bar li{
    display:inline;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}

.nav-bar a{
    text-decoration: none;
    color: inherit;
}

.nav-bar img{
    margin: 16px 0px 16px 120px;
}

/* hero style */


.hero{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 2000px;
    padding: 200px 0;
    background-image: url('./B13-A01-Knowledge-Vault/assets/hero-bg.png');
    background-repeat: no repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

 .hero-content{
    /* border: 3px solid blue; */
    margin: 0 auto;
    padding: 0 20px;
   
 }

.hero .pre-heading{
    color: #30B868;
    width: 229px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    margin: 0 auto;
}

.hero-content h1{
    font-size: 56px;
    color: rgba(255, 255, 255, 1);
    margin: 16px 295px;
}

.hero-content span{
    color: rgba(48, 184, 104, 1);
}

.hero-content p{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hero .hero-button{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
    padding: 32px 550px 0px;
}

.btn-1{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero .hero-button .btn-2{
     color: rgba(255, 255, 255, 1);
     border: 1px solid rgba(255, 255, 255, 1);
     border-radius: 4px;
     background: none;
     padding: 12px 16px 12px 16px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
}

.hero .hero-button .btn-1:hover{
    background-color: #d5b2b2;
    color: #032411;
}

.hero .hero-button .btn-2:hover{
    background-color: #469165;
}


/* problem section style */


.problem{
    width: 1360px;
    max-width: 1600px;
    margin: 0 auto;
}

.problem .text{
    margin: 0 auto;
    text-align: center;
}

.problem .text h1{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-size: 48px;
    font-weight: 700;
    margin: 60px 0px 16px;
}

.problem .text p{
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 44px;
}

.problem .card-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.problem .card-container .cards{
    /* border: 1px solid red; */
    width: 25%;
    max-width: 1370px;
    text-align: center;
    border-radius: 8px;
    box-shadow:  0 0 8px 0 rgba(0, 0, 0, .08);
}

.problem .card-container .cards img{
    background-color: rgba(249, 85, 85, 1);
    border: rgba(249, 85, 85, 1);
    padding: 14px;
    margin: 70px 131px 16px;
    border-radius: 200px;   
}

.problem .card-container .cards h3{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.problem .card-container .cards p{
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-size: 16px;
    font-weight: 400;
    margin: 0 24px ;
    
}

/* solution section style */

.solution{
    /* border: 1px solid; */
    width: 1420px;
    max-width: 1600px;
    margin: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution .solution-content{
    margin: 102px 0 102px 60px;
}

.solution .solution-content h5{
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.solution .solution-content h1{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.solution .solution-content p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.solution .solution-content li{
    display: flex;
    gap: 6px;
    list-style-type: none;
}


/* Early-Access style */

.Early-access{
    text-align: center;
    width: 1360px;
    margin: 0 auto;
    background-color: rgba(247, 246, 242, 1);
}

.Early-access .content h1{
    color: var(--Style, rgba(0, 25, 49, 1));
    font-size: 40px;
    font-weight: 700;
    padding: 80px 40px 16px;
}

.Early-access .content #first-p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    padding: 0 40px 24px;
}

/* .Early-access .content .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.Early-access .content button{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    
   
} */

#button{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 0 543px 16px;
}
 #button button{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #button button:hover{
      background-color: #d5b2b2;
      color: #032411;
 }

 .Early-access .content #second-p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    padding: 0 40px 80px;
 }


 /* footer style */

 
footer{
    /* border: 1px solid; */
    width: 100%;
    max-width: 2000px;
    background-color: var(--Style, rgba(0, 25, 49, 1)); 
    margin-top: 120px;
    /* margin-bottom: 30px; */
}
 
 .footer-up{
    /* border: 1px solid red; */
    width: 72%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 120px 120px 120px 0;
    
 }  
  
.footer-up h5{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    padding: 0 107px 16px 790;
 }

 .footer-up .logo{
    padding:16px 12px 0 0;
 }

 footer hr{
    width: 72%;
    border: 1px solid var(--DS New/Colors/Stroke/Gray-Light, rgba(229, 231, 235, 1));
    opacity: 0.2;
    margin: 0 auto;
 }

 .footer-down{
     background-color: var(--Style, rgba(0, 25, 49, 1));
    display: flex;
    justify-content: space-around;
    color: rgba(250, 250, 250, 1);
    font-size: 16px;
    font-weight: 400;
    margin: 30px 120px 0;
    padding-bottom: 30px;
   
 }  