*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 145, 101, 1);
    padding: 12px 16px;
    border-radius: 4px;
    margin: 36px 120px 36px 0;
}

.nav-bar{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.nav-bar li{
    display:inline;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}


.nav-bar img{
    margin: 16px 0px 16px 120px;
}

.hero{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 2000px;
    padding: 200px 0;
    background-image: url('./B13-A01-Knowledge-Vault/assets/hero-bg.png');
    background-repeat: no repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

 .hero-content{
    /* border: 3px solid blue; */
    margin: 0 auto;
    padding: 0 20px;
   
 }

.hero .pre-heading{
    color: #30B868;
    width: 229px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    margin: 0 auto;
}

.hero-content h1{
    font-size: 56px;
    color: rgba(255, 255, 255, 1);
    margin: 16px 295px;
}

.hero-content span{
    color: rgba(48, 184, 104, 1);
}

.hero-content p{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hero .hero-button{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
    padding: 32px 550px 0px;
}

.hero .hero-button .btn-1{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero .hero-button .btn-2{
     color: rgba(255, 255, 255, 1);
     border: 1px solid rgba(255, 255, 255, 1);
     border-radius: 4px;
     background: none;
     padding: 12px 16px 12px 16px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
}

.hero .hero-button .btn-1:hover {
    background-color: #d6b2b2;
    color: #032411;
}
.hero .hero-button .btn-2:hover {
    background-color: #469165;
}

.problem{
    width: 100%;
    max-width: 1370px;
    margin: 0 auto;
}

.problem .text{
    margin: 0 auto;
    text-align: center;
}

.problem .text h1{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-size: 48px;
    font-weight: 700;
    margin: 60px 0px 16px;
}

.problem .text p{
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 44px;
}

.problem .card-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.problem .card-container .cards{
    /* border: 1px solid red; */
    width: 25%;
    max-width: 1370px;
    text-align: center;
    border-radius: 8px;
    box-shadow:  0 0 8px 0 rgba(0, 0, 0, .0);
}

.problem .card-container .cards img{
    background-color: rgba(249, 85, 85, 1);
    border: rgba(249, 85, 85, 1);
    padding: 14px;
    margin: 70px 131px 16px;
    border-radius: 200px;   
}

.problem .card-container .cards h3{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.problem .card-container .cards p{
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-size: 16px;
    font-weight: 400;
    margin: 0 24px 70px;
    
}